body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CED9E0 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace
}

.jobList-enter {
  opacity: 0.01;
}

.jobList-enter.jobList-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.jobList-leave {
  opacity: 1;
}

.jobList-leave.jobList-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.card:hover {
  transform: scale(1.03);
}